#CountItem{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: .75rem 5rem;
    text-align: center;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: column;
    gap: .25rem;
    align-items: center;
    justify-items: center;
}

#CountCategory{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0;
}

#CountCategory h4{
    margin: 0;
    font-size: 20px;
}

#CountCategory img{
    margin: 0;
    height: 25px;
    width: 25px;
}

#CountNumber h2{
    font-size: 30px;
    margin: 0;
}